:root {
  --font: 'Quicksand', sans-serif;
  --success-color: #13AFA0;
  --danger-color: #EA0E48;
  --neutral-color: #cacaca;
  --primary-color-on: #f4f4f4;
  --primary-color: #1e1d1a;
}


.orderListItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 10rem;
  color: var(--secondary-color-on);
  background: var(--secondary-color);
  overflow-Y: scroll;
}

[class^="wrapper"] {
  align-self: stretch;
  flex-grow: 1;
  font-size: 2rem;
  font-weight: bold;
}

.wrapper-back {
  display: inline-block;
  flex-grow: 1;
  background: var(--danger-color);
}

.wrapper-list {
  flex: 4 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  margin-bottom: 10px;
  color: var(--primary-color-on);
  display: block;
}

.wrapper-status {
  flex: 2 0 10%;
  background: var(--success-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}