

.wrapper {
  position: absolute;
  right: 20px;
  font-size: 18px;
  
}


.menu-item {
  margin: 10px;
  display: block;
  text-align: center;
  width: 180px;
  height: 40px;
  text-align: center;
}