.footer {
  position: fixed;
  height: var(--footer-height);
  width: 100%;
  background-color: var(--secondary-color-light);

  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}