.footer {
  position: sticky;
  height: var(--footer-height);
  background-color: var(--secondary-color-light);

  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}