.icon-button {
  cursor: pointer;
  flex-shrink: 0;
  
  background-color: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}