.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.menu-item__name {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}