[class^="primary-button"] {
  display: inline-block;
  flex: 3;
  align-self: stretch;

  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1.5rem;

  font-size: 2rem;
  font-family: var(--sans-serif);
}

.primary-button--success {
  background: var(--primary-color);
  color: var(--primary-color-on);
}

.primary-button--danger {
  background: var(--danger-color);
  color: var(--danger-color-on);
}

.primary-button--neutral {
  background: var(--secondary-color);
  color: var(--secondary-color-on);
}