.secondaryButton {
  display: inline-block;
  flex: 1;
  align-self: stretch;

  border: none;
  outline: none;
  cursor: pointer;

  padding: 0.5rem 1rem;

  font-size: 1.5rem;
  font-family: var(--sans-serif);

  background: var(--neutral-color);
  color: var(--neutral-color-on);
}

