.checkout {
  flex-grow: 1;
  padding-bottom: var(--footer-height);
}

.bill {
  box-shadow: var(--primary-shadow);
  background: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 0.5rem 1rem;
  margin: 2rem 2rem;
  align-self: stretch;
}

.checkout__total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.25rem;
}