.menu {
  position: relative;
  flex-grow: 1;
  padding-bottom: var(--footer-height);
}

.menu__categories {
  margin: 2rem 2rem;
}

.menu__category {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: var(--primary-shadow);
  background: rgba(255, 255, 255, 0.5);
  color: black;
}